<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />

<link rel="stylesheet" href="../AmazeUI-2.4.2/assets/css/amazeui.css" />
<link href="../css/dlstyle.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../layer/layer.js"></script>
</head>
<style type="text/css">
	*{
		top: 0;
		margin: 0;
	}

</style>
<body>

	<div class="login-boxtitle">
		<a href="home.html"><img alt="logo" src="../images/logobig.png" /></a>
	</div>
	<div style="width: 1000px;height: 500px; background-color: white; margin-left: auto; margin-right: auto; position: relative;">
		<div style=" width: 1000px;height: 80px; text-align: center; line-height: 50px; padding-top: 10px; position: absolute; border-bottom: 1px solid #ccc;">重置密码</div>

		<form class="am-form" action="ForgetPasswordReset" method="post" onsubmit="return checksubmit();" id="form" style=" width: 1000px;height: 300px;position: absolute; left:200px;top: 100px; ">
				  
				  
				   

				    <div class="am-form-group" style="width: 300px;  margin: auto; margin-top: 20px;  ">
				    	<h1 style="font-weight: bold;">新密码:</h1>
				      <input  type="password" style="font-size: 14px; margin-top: 10px;" name="password" class="" id="password" placeholder="设置个密码吧">
				    </div>

				    <div class="am-form-group" style="width: 300px; margin: auto; margin-top: 20px;  ">
				    <h1 style="font-weight: bold;">确认密码:</h1>
				      <input type="password" style="font-size: 14px; margin-top: 10px;" class="" id="newpassword" placeholder="设置个密码吧">
				    </div>
							<button type="submit" class="am-btn am-btn-primary" style="width: 300px; height: 50px; font-size: 24px;  margin-left: 170px; margin-top: 20px;" >提交</button>

	</form>



	</div>

	

		
			
			<script type="text/javascript">
				function checksubmit(){
				 	var password=	$('#password').val();
				 	var newpassword=$('#newpassword').val();

				 	if(password.length<6){
				 		layer.tips('密码不能小于6', '#password',{
						  
						  tips:[2,'red'],
						  time:3000
					  });
				 		return false;

				 	}

				 	if(password==newpassword){
				 		return true;
				 	}else{
					layer.tips('请却认密码', '#newpassword',{
						  
						  tips:[2,'red'],
						  time:3000
					  });
				 		return false;
				 	}

				 	return false;

				}
				
			</script>
	
		
	
</body>

</html>